extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 JAMIE GOBEILLE

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          h3 <bold>The Short Version</bold>
          p(class="special-p")
            | My name is Jamie Gobeille. A Full-stack Developer from Cincinnati, Ohio living in Nagoya, Japan with my beautiful, amazing wife. <div class= "heart">&#10084</div> <p class="heart-text">of all things code, Japan, and beer. I began coding in November of 2017 and haven't looked back.  
            | My wheelhouse includes mostly vanillaJS, CSS, and HTML to create beautiful websites and web applications. I am extremely passionate about learning new web technologies and sharing what I know to the community. Additionally, I have peer reviewed dozens of student projects for the Team Treehouse Fullstack Degree Program.
            | I have worked with both businesses and charities to design their website and craft content, promotional items, and solutions suited to their needs.
                        
            |<bold>**Shameless Plug**</bold> I also like to write <a class ="link" href="https://medium.com/@jamiegobeille">articles</a> about JavaScript and other Web Development topics.</p>
          
          h3 <bold>The Long Version</bold>
          p  
            | ...Over the past couple of years code has become an integral part of my life. It has influenced me in ways I never thought it would. It was the first time I felt extremely proud of my work accomplishments. I was given a creative outlet to pursue thoughts and ideas in my head that I didn't think I could ever do on my own. Learning to code influenced me in my daily life as well. It taught me to be organized and how to breakdown seemingly massive problems into small manageable bites.
            | Since learning to code I have been lucky enough to work some businesses craft solutions tailored to their needs such as making a website and shopify e-commerce store for one client and helping maintain a charities website,making new content, and eventually making a custom e-commerce store in the future.
 
          p
            | When I am not working on projects, I am actively reaching out and helping students on Team Treehouse's Fullstack Tech Degree Slack channel where I am designated "Slack Champion". I also watch a lot of popular coding you tube channels such as:
            ul(class="youtube-channels")
              li: a(class= "link" target="_blank" href="https://www.youtube.com/channel/UCsBjURrPoezykLs9EqgamOA") Fireship 
              li: a(class= "link" target="_blank" href="https://www.youtube.com/channel/UCrqAGUPPMOdo0jfQ6grikZw") Colt Steele  
              li: a(class= "link" target="_blank" href="https://www.youtube.com/channel/UCO1cgjhGzsSYb1rsB4bFe4Q") Fun Fun Function 
              li: a(class= "link" target="_blank" href="https://www.youtube.com/channel/UCqrILQNl5Ed9Dz6CGMyvMTQ") Clever Programmer
              li: a(class= "link" target="_blank" href="https://www.youtube.com/channel/UC29ju8bIPH5as8OGnQzwJyA") Traversy Media 
          p 
            |I also actively listen to podcasts(<a class= "link" target="_blank" href="https://syntax.fm/">Syntax</a>, <a class= "link" target="_blank" href="https://www.codenewbie.org/">Codenewbie</a>, <a class= "link" target="_blank" href="https://shoptalkshow.com/">Shoptalk</a>, <a class= "link" target="_blank" href="https://www.redhat.com/en/command-line-heroes">Command_Line Heroes</a> and <a class= "link" target="_blank" href="https://www.indiehackers.com/">Indie Hackers</a>) and read articles on various topics or visiting local meetups. Maybe one day I will become a JavaScript wizard. A man can dream...
          
          p
            | When I'm not doing something IT related I like to spend time with my amazing wife Madoka, traveling around Japan to see all of the beautiful temples and scenery, exercising, cooking, becoming a Kanji(漢字) master, playing foot-golf with the boys, and attempting to try all the craft beer in the world(I think I am about half-way there by now..) 
          
          
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li API Requests
          li Async/Await
          li Bootstrap
          li Content Creation
          li CSS
          li Design
          li Excel Macros and Functions
          li Express
          li Git        
          li HTML
          li Image Editing w/ Gimp and Canva
          li Japanese (Conversational)
          li jQuery
          li Node.js
          li Object-Oriented JavaScript 
          li Peer reviewed dozens of student projects
          li Pug
          li Responsive Design        
          li Soft Skills(Communication with students and client, planning projects, setting project goals)
          li Unit Testing
          li Vanilla JS  
          li Wire Framing


        h6 Contact Info
        h6 Want to chat or work together on a project? Feel free to contact me!

        //- Add your own contact info
        ul
          li 513-476-8408
          li djent34@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(target="_blank" href='https://www.linkedin.com/in/jamie-gobeille-516284127/') LinkedIn
        a.button.expanded(target="_blank" href='https://github.com/Jgobeille') GitHub
        a.button.expanded(target="_blank" href='https://twitter.com/jamie_gobeille') Twitter
        a.button.expanded(target="_blank" href='https://medium.com/@jamiegobeille') Medium
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  