extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1 Full-Stack Web Developer in Japan - 一緒に仕事をしましょう！

      p.lead.text-light
        | Welcome to my Portfolio page! I have worked on a large range of different projects both personally for myself and my friends projects and professionally for both businesses and charities. Professionally, I have handled designing of a website to also creating its functionality. These projects highlight my various skills such as technical understanding of both front-end and back-end code, maintaining websites, soft-skills(communication with clients and planning of a project), design, and the ability to learn new new skills and progressively improve upon those skills.
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            figure
              img.thumbnail(src= project.image_Urls[0][0])
          h5 #{project.project_name}
      
