<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Jamie Gobeille - Portfolio 
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/foundation.css')
    link(rel='stylesheet', href='/static/css/style.css')
  body
    #my-info.off-canvas.position-left.reveal-for-large.portfolio-me(data-off-canvas='')
      .grid-y.grid-padding-x(style='height: 100%;')
        block sidebar
          br
          .cell.shrink
            img.thumbnail(src='/static/images/profile_pic.jpg')
          .cell.auto

            //- Add your name here.
            h5 Jamie Gobeille

            //- Add text here to describe who you are, what you do, and why you are so awesome.
            p.text-light
              | Full-stack JavaScript Developer from Cincinnati, Ohio living in Nagoya, Japan. 
              |<div class= "heart">&#10084</div> <p class=heart-text>of all things code, Japan, and beer. I dream is to become a javaScript wizard. A man can dream...</p>

            //- Add about page route to the href below. 
            a(href='/about') Learn More →

    .off-canvas-content(data-off-canvas-content='')
      .title-bar.hide-for-large
        .title-bar-left
          button.menu-icon(type='button', data-toggle='my-info')

          //- Add your name here.  This is for the mobile screen sized version.
          //- img.logo(src="static/images/JG-JS-logo.svg") 
          img.logo(src="../static/images/JG.png")
          span.title-bar-title JAMIE GOBEILLE
          
      block content
        

      
  script(src='/static/js/vendor/jquery.js')
  script(src='/static/js/vendor/what-input.js')
  script(src='/static/js/vendor/foundation.js')
  script(src='/static/js/scripts.js')
