/* CSS Vars */

:root {
  --main-bg-color: #323330;
  --other-main-bg-color: #fff;
  --dark-gray: #50514F;
  --highlight-color: #F0DB4F;
  --red: #B0413E;
  --lato-font: Lato, sans-serif;
  --reg-margin-bottom: margin-bottom: 20px;

}


h1,
h2,
h3,
h4,
h5,
p {
  font-family: 'Merriweather', serif;
}

h5 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
}

h6 {
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
  font-weight: 600;
}

p {
  font-size: 15px;
  color: #666;
}

.round {
  border-radius: 5px;
}

.text-light {
  color: #666;
}

.button {
  background-color: #333;
}

.button:hover {
  background-color: #111;
}

a {
  color: #333;
}

a:hover {
  color: #111;
}



.logo {
  height: 50px;
  width: 50px;
  margin-right: 20px;
  z-index: 2;
  position: relative;
}

.image {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px var(--border-color);
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

.portfolio-me {
  padding: 20px;
  background: var(--main-bg-color);
  color: #FFF2F1;
  box-shadow: none !important;
}

.portfolio-me p {
  font-size: 14px;
  color: #999;
}

.portfolio-me a {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 12px;
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
}

.portfolio-me a:hover {
  color: #999;
}

.portfolio-breadcrumb {
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
}

.portfolio-breadcrumb a {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
}

.portfolio-intro {
  margin: 0;
  padding: 100px 50px 30px;
}

.portfolio-intro p {
  padding-bottom: 40px;
}

.portfolio-intro h1 {
  color: var(--main-bg-color);
  font-family: var(--lato-font);
  margin-bottom: 40px;
  font-weight: 900;
}

.portfolio-index {
  margin: 0;
  padding: 10px 50px;
}



#my-info>div>div.cell.shrink>img {
  border: solid 4px #F0DB4F;
  border-radius: 100%;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);

}

.portfolio-index a {
  color: #222;
}

.portfolio-index .cell {
  margin-bottom: 15px;
}






.portfolio-index .cell h5 {
  letter-spacing: 1px;
  font-family: var(--lato-font);
  font-weight: 700;
  text-align: center;
  color: var(--dark-gray);
}

.portfolio-meta {
  padding-left: 20px;
}

.portfolio-meta .button {
  margin-bottom: 5px;
}

.portfolio-project p {
  border: none;
}

.portfolio-project li {
  font-size: 13px;
  color: #444;
}

.portfolio-bio {
  line-height: 25px;
}

.portfolio-bio h3 {
  text-transform: uppercase;
  color: var(--dark-gray);
}

.heart {
  height: 1px;
  width: 1px;
  display: inline-block;
  color: #D81159;
  animation: heartbeat 1s infinite;
}

.heart-text {
  display: inline;
  padding-left: 15px;
}

.special-p {
  padding-bottom: 0px !important;
}

.link {
  color: #D81159;
  font-weight: bold;
}

.youtube-channels li {
  font-size: 24px;
}

.projects-list {
  list-style: none;
  margin-bottom: 5px;
}

.projects {
  margin: 10px 0 10px 0;
}

.error_message {
  margin-top: 50px;
}

/* Key Frames */

/* 
Pulsating Heart: HOW TO
https://stackoverflow.com/questions/34762009/pulsing-heart-css-animation */
@keyframes heartbeat {
  0% {
    transform: scale(.75);
  }

  20% {
    transform: scale(1);
  }

  40% {
    transform: scale(.75);
  }

  60% {
    transform: scale(1);
  }

  80% {
    transform: scale(.75);
  }

  100% {
    transform: scale(.75);
  }
}

/* Float */

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 1.0);
    transform: translatey(0px);
  }

  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(-20px);
  }

  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 1);
    transform: translatey(0px);
  }
}

@media(min-width: 500px) {
  #my-info>div>div.cell.shrink>img {
    animation: float 6s ease-in-out infinite
  }

  .portfolio-index:hover .cell:not(:hover) {
    filter: opacity(80%);
  }
}

@media(min-width: 800px) {

  .portfolio-index figure {
    overflow: hidden;
  }

  .portfolio-index .cell .thumbnail {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }

  /* Zoom In #1 */

  .portfolio-index .cell figure:hover .thumbnail {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}